.container {
  padding: 30px;
  color: white;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
}

.courseCard {
  background: #111827;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.courseHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addBtn {
  background: #6366f1;
  border: none;
  padding: 8px 14px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.sectionRow {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  background: #1f2937;
  border-radius: 6px;
}

.editBtn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #111827;
  padding: 25px;
  border-radius: 10px;
  width: 400px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #1f2937;
  border: none;
  color: white;
  border-radius: 6px;
}

.actions {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.saveBtn {
  background: #10b981;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  color: white;
}

.deleteBtn {
  background: #ff4d4f;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-left: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.deleteBtn:hover {
  background: #d9363e;
}

.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}


.badge {
  background: linear-gradient(135deg, #8b5cf6, #06b6d4);
  padding: 8px 16px;
  border-radius: 30px;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
}
